

.contenedor {
    display: flex;
    justify-content: space-between;
}

.columna {
    width: 33%;
    background-color: rgb(43, 43, 214);
    /* El ancho de la primera columna */
}

.boton {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 30px;
    border: 2px solid #000;
    /* Borde cuadrado */
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3);
    /* Sombra azul */
}

.columna.grande {
    width: 66%;
    background-color: aqua;
}

.boton.grande {
    width: 500px;
    height: 500px;
    padding: 20px;
    /* Botones más grandes */
    margin: 100px;
    border: 2px solid #000;
    /* Borde cuadrado */
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3);
    /* Sombra azul */
}